@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: #fff;
        background-color: #000;
    }
    
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#4f4fe4];
    }

    .tags {
        background-color: rgb(53, 115, 196);
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: #fff;
        font-size: 12px;
        border-radius: 20px;
    }

    .skill-badge {
        @apply m-2 px-4 py-2 bg-blue-500 text-white rounded-full font-medium shadow-sm transition duration-300 ease-in-out hover:bg-blue-600;
      }

}

